<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="icon" type="image/png" sizes="32x32" href="/images/waypse.png">
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <title>Skills / Slava pankov</title>
</head>
<body>
    <header>
        <a href="/" aria-label="Home" class="logo"></a>
        <div class="burger_menu_wrapper" id="burger_menu_wrapper">
            <span class="burger_menu" id="burger_menu"></span>
        </div>
    </header>
    <div class="page-transition"></div>
    <div class="menu" id="menu">
        <ol class="menu-links">
            <li><a href="/about" class="not-active delay0" id="link-1">{{data.menu.about}}</a></li>
            <li><a href="/projects" class="not-active delay1" id="link-2">{{data.menu.projects}}</a></li>
            <li><a href="/contact" class="not-active delay2" id="link-3">{{data.menu.contact}}</a></li>
            <li><a href="#" class="inactive-link not-active delay3" id="link-4">{{data.menu.skills}}</a></li>
        </ol>
    </div>
    <div class="skills-content">
        <div class="skills-text">
            <div class="skills-title text-wrapper"><p class="slide-in delay0" id="text-1">Front-end</p></div>
            <div class="paragraph-skills">
                <div class="text-wrapper"><p class="slide-in delay0" id="text-1"><i class="fab fa-js-square"></i></p></div>
                <div class="text-wrapper"><p class="slide-in delay0" id="text-1"><i class="fab fa-html5"></i></p></div>
                <div class="text-wrapper"><p class="slide-in delay0" id="text-1"><i class="fab fa-css3-alt"></i></p></div>
                <div class="text-wrapper"><p class="slide-in delay0" id="text-1"><i class="fab fa-bootstrap last-i"></i></p></div>
            </div>
            <div class="skills-title text-wrapper"><p class="slide-in delay1" id="text-1">Back-end</p></div>
            <div class="paragraph-skills">
                <div class="text-wrapper"><p class="slide-in delay1" id="text-1"><i class="fab fa-node-js"></i></p></div>
                <div class="text-wrapper"><p class="slide-in delay1" id="text-1"><i class="fab fa-php"></i></p></div>
                <div class="text-wrapper"><p class="json slide-in delay1" id="text-1"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M13.524 18.917C13.147 18.917 12.774 18.874 12.412 18.786C12.085 18.708 11.808 18.609 11.568 18.484C11.289 18.361 11.002 18.194 10.742 18.003C10.283 17.694 9.839 17.294 9.439 16.825C8.967 16.254 8.594 15.623 8.325 14.944C7.993 14.078 7.821 13.168 7.81 12.236C7.776 10.815 8.084 9.46299 8.701 8.33099C9.137 7.54399 9.744 6.83199 10.46 6.26799C10.699 6.08299 10.954 5.91299 11.199 5.76399L11.479 6.18099L11.698 6.62999C11.504 6.74899 11.28 6.89799 11.074 7.05699C10.466 7.53599 9.946 8.14399 9.576 8.81299C9.046 9.78799 8.78 10.966 8.81 12.218C8.819 13.037 8.97 13.83 9.257 14.581C9.486 15.157 9.805 15.697 10.205 16.182C10.541 16.575 10.917 16.915 11.319 17.186C11.535 17.345 11.765 17.478 12.003 17.583C12.198 17.684 12.399 17.754 12.646 17.813C13.899 18.116 15.33 17.743 16.577 16.792C17.271 16.273 17.853 15.625 18.312 14.862C18.913 13.878 19.308 12.709 19.454 11.48C19.533 10.834 19.545 10.139 19.492 9.35299C19.428 8.25899 19.277 7.30999 19.03 6.44699C18.602 4.93699 17.906 3.65199 16.964 2.62799C16.641 2.27499 16.314 1.97299 15.99 1.72799C15.769 1.56099 15.726 1.24799 15.892 1.02699C16.058 0.805991 16.372 0.761991 16.593 0.929991C16.965 1.21099 17.338 1.55499 17.7 1.95099C18.749 3.08999 19.52 4.51099 19.992 6.17199C20.259 7.10599 20.422 8.12499 20.491 9.28899C20.548 10.135 20.534 10.892 20.449 11.599C20.285 12.969 19.843 14.277 19.169 15.38C18.645 16.252 17.976 16.996 17.181 17.589C16.043 18.457 14.757 18.917 13.524 18.917Z" fill="white"/>
                                                                                <path d="M7.83 23.22C7.728 23.22 7.625 23.189 7.537 23.125C7.109 22.815 6.728 22.485 6.371 22.118C5.302 20.978 4.5 19.498 4.047 17.831C3.773 16.822 3.607 15.754 3.541 14.568C3.5 13.864 3.518 13.161 3.592 12.42C3.738 11.023 4.141 9.72299 4.757 8.65899C5.22 7.82799 5.869 7.06799 6.63 6.46699C7.163 6.05599 7.762 5.72399 8.367 5.50099C9.237 5.17399 10.188 5.07299 11.12 5.20499C11.442 5.24599 11.791 5.32699 12.148 5.44599L12.147 5.44799C12.197 5.46599 12.245 5.48999 12.289 5.51999C12.303 5.52599 12.317 5.53399 12.333 5.54299L12.475 5.61399C12.71 5.73099 12.937 5.87599 13.155 6.01499C14.189 6.74999 14.958 7.68299 15.454 8.76199C15.872 9.68999 16.099 10.769 16.11 11.886C16.133 13.1 15.905 14.227 15.433 15.233C14.854 16.499 13.864 17.58 12.648 18.275C12.407 18.412 12.103 18.328 11.966 18.089C11.829 17.849 11.912 17.544 12.152 17.407C13.188 16.815 14.031 15.894 14.526 14.813C14.935 13.942 15.13 12.964 15.11 11.9C15.1 10.916 14.905 9.97599 14.545 9.17599C14.123 8.25799 13.467 7.46199 12.649 6.87699C12.428 6.73599 12.232 6.60999 12.026 6.50699L11.908 6.44799C11.901 6.44499 11.894 6.44099 11.886 6.43599C11.853 6.42399 11.805 6.40299 11.756 6.36899C11.489 6.28499 11.231 6.22599 10.988 6.19599C10.212 6.08399 9.431 6.16899 8.716 6.43799C8.202 6.62799 7.694 6.90999 7.245 7.25599C6.591 7.77199 6.03 8.42899 5.627 9.15299C5.076 10.103 4.718 11.265 4.587 12.522C4.518 13.209 4.502 13.86 4.539 14.512C4.602 15.628 4.757 16.628 5.012 17.57C5.422 19.08 6.142 20.414 7.095 21.428C7.405 21.747 7.743 22.04 8.124 22.316C8.348 22.478 8.397 22.791 8.235 23.014C8.137 23.148 7.984 23.22 7.83 23.22Z" fill="white"/>
                                                                                <path d="M12 24C5.383 24 0 18.617 0 12C0 5.383 5.383 0 12 0C18.617 0 24 5.383 24 12C24 18.617 18.617 24 12 24ZM12 1C5.935 1 1 5.935 1 12C1 18.065 5.935 23 12 23C18.065 23 23 18.065 23 12C23 5.935 18.065 1 12 1Z" fill="white"/>
                                                                                </svg>
                </div>
                <div class="text-wrapper"><p class="slide-in delay1" id="text-1"><i class="fas fa-database last-i"></i></p></div>
            </div>
            <div class="paragraph">
                <div class="text-wrapper"><p class="slide-in delay2" id="text-1">{{data.about.title9}}</p></div>
                <div class="text-wrapper"><p class="slide-in delay2" id="text-1"><a href="/contact" class="small-contact slide-in delay1">{{data.about.title10}}</a> {{data.about.title11}}</p></div>
            </div>
        </div>
    </div>
</body>
<script src="/skills.js"></script>
</html>